.game
{
	display: flex;
	border: solid 1px black;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: lightgray;
}
#flappybird
{
	margin: auto;
	width: 288px;
	height: 512px;
	border: solid 1px black;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
}
.pashalka
{
	position: absolute;
	width: 200px;
	height: 50px;
	right: 0;
	bottom: 300;
	background-color: black;
	color: white;
	text-align: center;
	opacity: 0;
}
.pashalka:hover
{
	opacity: 1;
}